#root {
    background-color: #212323;
    color: #dcdcdc;
}

html {
    font-size: 15px;
}

.nav .nav-item .nav-link {
    color: #dcdcdc;
}

.tab-pane {
    overflow-y: scroll;
    max-height: 500px;
}

.navbar {
    background-color: #212323;
    box-shadow: 0px 1px 15px #00000087;
}

.navbar-brand {
    color: #dcdcdc !important;
    font-weight: 200;
    font-size: 1.5rem !important;
}

.nav-item .hover-icon svg {
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease, visibility 500ms ease;
}

.nav-item:hover .hover-icon svg {
    opacity: 1;
    visibility: visible;
}